@charset "UTF-8";

:root {
  --main-background-color: #fff;
  --main-header-font-family: 'Tanker', sans-serif;
  --main-font-family:'Bespoke Serif', serif;
  --font-color-darkbg: #fff;
  --font-color-lightbg: #8c3d0f;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
  overflow-x: hidden;
}

body {
  font-family: var(--main-font-family);
  color: var(--font-color-lightbg);
  background-color: var(--main-background-color);
  overflow: hidden;
}

a,
.highlight {
  transition: all 0.15s ease-out;
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4 {
  font-family: var(--main-header-font-family);
}

.button-dark {
  background-color: #8c3d0f;
  color: #fff;
  padding: 5px 20px;
  border: none;
  border-radius: 20px;
  text-transform: uppercase;
}
.button-light {
  background-color: #f2cf66;
  color: #8c3d0f;
  padding: 5px 20px;
  border: none;
  border-radius: 20px;
  text-transform: uppercase;
}



.mainContent section {
  padding: 50px 0 20px;  
  margin: 0 auto 1.5rem;
}

/* Modal */
.modal-dialog .close {
  position: absolute;
  top: 2px;
  right: 14px;
  float: none;
  color: var(--main-modal-font-color);
  font-size: 2em;
  opacity: 1;
  text-shadow: none;
  z-index: 1;
  background: transparent;
  border: none;
}

.modal .modal-content {
  background-color: #f2cf66;
  text-align: center;
}

.modal-footer {
  justify-content: center;
  border-top: 0;
}
.modal-footer button {
  background-color: #8c3d0f;
  color: #fff;
  border: none;
}





@media screen and (max-width: 320px) {

}

@media screen and (min-width: 480px) {

}

@media screen and (min-width: 768px) {
  .button-dark,
  .button-light {
    font-size: 1.2rem;
  }

}

@media screen and (min-width: 991px) {


}

@media screen and (min-width: 1024px) {

}

@media screen and (min-width: 1200px) {

}

@media screen and (min-width: 1680px) {

}