/*** Font setting ***/
@font-face {
  font-family: "Tanker";
  src: url('../../fonts/Tanker-Regular.otf') format('truetype');
}

@font-face {
  font-family: "Bespoke Serif";
  src: url('../../fonts/BespokeSerif-Regular.otf') format('truetype');
}