.cafe77th.mainContent {
    padding: 0;
    overflow: hidden;
}
.cafe77th .main-header {
    display: flex;
    justify-content: center;
    align-items: center;
}
.cafe77th .nav-links ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding-left: 0;
}
.cafe77th .nav-links ul li {
    margin: 0;
    color: #8c3d0f;
}

/* Banner Section*/
.cafe77th .mainbanner {    
    width: 100%;    
    background: #FDE8AB;
    background: radial-gradient(circle, rgba(253, 232, 171, 1) 0%, rgba(217, 177, 102, 1) 100%);    
    position: relative;
    padding: 10px 0;
    height: 45vh;
    margin: 0 auto;
}

.cafe77th .mainbanner-contents {
    display: flex;
    justify-content: center;
    margin-top: -70px;
    padding-top: 130px;
    padding-bottom: 30px;
}

.cafe77th .mainbanner-image-wrapper {
    position: absolute;
    bottom: -50px;
    left: 10px;
}

.cafe77th .mainbanner-image {
    width: 100%;
    max-width: 200px;
}

.cafe77th .mainbanner .mainbanner-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-left: 40%;
}

.cafe77th .mainbanner-text h1 {
    text-align: center;
    color: #8c3d0f;
    font-size: 3.6rem;
    margin: 0;
    line-height: 0.9;
}

.cafe77th .mainbanner-text button {
    margin-top: 20px;
}

/* Steps Section */
.cafe77th .bestsellers {
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 60px 0;
}

.cafe77th .bestsellers .bestsellers-wrapper {
    display: none;
    margin: 50px auto;
}

.cafe77th .bestsellers .bestsellers-wrapper > div {
    width: 33.3%;
}

.cafe77th .bestsellers .bestsellers-icons-slider {
    display: block;
    margin-bottom: 20px;
}

.cafe77th .bestsellers .bestsellers-icons-slider .carousel-inner {
    margin: 0 auto;
    padding: 0 13px 0;
    width: 85%;
}



.carousel-indicators [data-bs-target] {
  width: 12px;
  height: 12px;
  border-radius: 50%;         /* make them circular */
  border: 2px solid #8c3d0f;  /* brown border */
  background-color: transparent; /* transparent by default */
  margin: 0 6px;              /* spacing between dots */
}

.carousel-indicators .active {
  background-color: #8c3d0f;  /* brown fill for active */
}

.carousel-item {
    height: 400px;
    padding: 10px;
}

.carousel-control-next, 
.carousel-control-prev {
    opacity: 1;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-image: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #8c3d0f;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-control-prev-icon::after,
.carousel-control-next-icon::after {
    font-size: 23px;
    color: #fff; /* white arrow */
    font-weight: bold;
    margin-bottom: 2px;
}

.carousel-control-prev-icon::after {
  content: '‹'; /* left arrow */
}

.carousel-control-next-icon::after {
  content: '›'; /* right arrow */
}

.cafe77th .bestsellers img.product-image {
    width: 100%;
    border-radius: 20px;
    margin: 10px 0;
} 
.cafe77th .bestsellers .product-name {
    text-align: left;
    margin: 0;
}
.cafe77th .bestsellers .product-desc {
    text-align: left;
    line-height: 1.3;
    margin: 0;
}
.cafe77th .bestsellers .product-price {
    text-align: left;
    font-size: 1.5rem;
    font-family: var(--main-header-font-family);
}

/* Video Embed */
.mainContent .video-embed-wrapper {
    padding: 0;
    margin: 0;
}
.video-embed {
    display: block;
    width: 100%;       /* take full width of parent */
    max-width: 100vw;  /* prevent overflow beyond viewport */
    height: 100vh;     /* optional: full screen height */
}


/* Coffee Cart */
.cafe77th .coffee-cart {
    background-color: #8c3d0f;
    color: #fff;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
    position: relative;
    /* margin-top: -100px; */
}

.cafe77th .coffee-cart > div {
    margin: 20px 0;
}
.cafe77th .coffee-cart-text > h3 {
    margin-bottom: 0;
    font-size: 2rem;
}
.cafe77th .coffee-cart-text > span {
    color: #f2cf66;
    margin-bottom: 20px;
    display: block;
}
.cafe77th .coffee-cart button {
    margin: 0 auto;
    display: block;
}
.cafe77th .coffee-cart .beans {
    position: absolute;
    width: 170px;
    left: -85px;
    bottom: -90px;
    transform: rotate(18deg);
}

/* Delivery */
.cafe77th .deliveryapps {
    padding: 10px 30px 0;
    text-align: center;
    position: relative;
    margin: 0 auto;
}

.cafe77th .deliveryapps h1 {
    text-align: center;
}
.cafe77th .deliveryapps p {
    text-align: center;
}

.cafe77th .deliveryapps .find {
    background-color: #f2cf66;
    padding: 30px;
    border-radius: 20px;
    margin: 160px auto 0;
}

.cafe77th .deliveryapps .foodpanda-mobile {
    bottom: 130px;
    width: 140px;
    left: 50px;
    z-index: -1;
}
.cafe77th .deliveryapps .grab-mobile {
    bottom: 135px;
    width: 140px;
    right: 50px;
    z-index: -1;
}

.cafe77th .deliveryapps .searchbar-img {
    width: 100%;
    max-width: 220px;
}

.cafe77th .deliveryapps .beans-again {
    position: absolute;
    width: 170px;
    right: -85px;
    bottom: 0px;
    transform: rotate(178deg);
    z-index: 2;
}

/* MAP */
.cafe77th .map-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
    height: 550px;
    margin-bottom: 0;
}

.cafe77th .map-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

/* Footer */
.footer {
    background-color: #8c3d0f;
    color: #fff;
}

.footer .footer-logo {
    filter: brightness(0) invert(1);
    width: 70px;
}

.footer h4 {
    text-align: left;
}
.footer ul {
    list-style: none;
    text-align: left;
    padding: 0;
}
.footer .social-media .row .col {
    width: 33%;
}
.footer .footer-icon {
    font-size: 18px;
}







/* Media Query */
@media screen and (max-width: 320px) {

}


@media screen and (min-width: 411px) {
 
}

@media screen and (min-width: 480px) {
    .header-logo {
        max-width: 80px;
    }
    .cafe77th .mainbanner {
        height: auto;
    }
    .cafe77th .mainbanner-image-wrapper {
        left: 50px;
    }
    .cafe77th .mainbanner .mainbanner-text {
        padding-left: 30%;
    }
    .cafe77th .deliveryapps .find {
        margin: 220px auto 0;
    }
    .cafe77th .deliveryapps .foodpanda-mobile {
        left: 90px;
    }
    .cafe77th .deliveryapps .grab-mobile {
        right: 90px;
    }

}

@media screen and (min-width: 575px) {
    .cafe77th .main-header {
        justify-content: space-between;
        max-width: 550px;
    }
    .cafe77th .mainbanner-image-wrapper {
        left: 80px;
    }
    .cafe77th .mainbanner-image {
        max-width: 220px;
    }
    .cafe77th .mainbanner-text h1 {
        font-size: 4rem;
    }


    .cafe77th .deliveryapps .find {
        max-width: 480px;
    }
    .cafe77th .deliveryapps .find > div {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .cafe77th .deliveryapps .foodpanda-mobile {
        left: 110px;
        width: 170px;
        bottom: 60px;
    }
    .cafe77th .deliveryapps .grab-mobile {
        right: 110px;
        width: 170px;
        bottom: 65px;
    }
    .footer .social-media .row .col {
        width: 10px !important;
        flex: none;
        margin: 0 15px 0 0;
    }
    .footer .footer-icon {
        font-size: 24px;
    }

}

/* Make containers a max-width of 620px */
@media screen and (min-width: 768px) { 
    .cafe77th .main-header {
        max-width: 620px;
    }
    .cafe77th .mainbanner-text h1 {
        font-size: 5.5rem;
    }
    .cafe77th .mainbanner-image-wrapper {
        left: 130px;
        bottom: -60px;
    }
    .cafe77th .mainbanner-image {
        max-width: 270px;
    }


    .cafe77th .coffee-cart {
        flex-direction: row;
        padding: 30px 60px;
    }
    .cafe77th .coffee-cart .coffee-cart-text {
        width: 60%;
    }
    .cafe77th .coffee-cart .coffee-cart-image-wrapper {
        width: 40%;
        text-align: center;
    }
    .cafe77th .coffee-cart button {
        margin: 15px 0 0;
    }
    .cafe77th .deliveryapps {
        max-width: 620px;
    }      
}

@media screen and (min-width: 991px) {
    .header-logo {
        max-width: 100px;
    }
    .nav-links a {
        font-size: 1.1rem;
    }
    .cafe77th .mainbanner-image-wrapper {
        left: 240px;
    }
    .cafe77th .mainbanner .mainbanner-text {
        padding-left: 20%;
    }
    .cafe77th .mainbanner-contents {
        padding-top: 110px;
    }

    .cafe77th .bestsellers .bestsellers-icons-slider {
        display: none;
    }
    .cafe77th .bestsellers .bestsellers-wrapper {
        display: flex;
        width: 90%;
    }  
    .cafe77th .bestsellers img.stepImages {
        width: 100%;
        max-width: 200px;
        -webkit-transform-origin: top center;
        transform-origin: top center;
        -webkit-animation: updown 1s infinite;
        animation: updown 1s infinite;
    }
}

@media screen and (min-width: 1024px) {
    .cafe77th .coffee-cart {
        padding: 30px 120px;
    }
    .cafe77th .coffee-cart .beans {
        width: 220px;
    }
    .cafe77th .deliveryapps .beans-again {
        width: 220px;
        right: -275px;
    }
}



@media screen and (min-width: 1200px) {
    .cafe77th .mainbanner-image-wrapper {
        left: 340px;
    }
    .cafe77th .coffee-cart {
        padding: 30px 180px;
    }
}

@media screen and (min-width: 1366px) {
    .cafe77th .mainbanner-image-wrapper {
        left: 440px;
    }
}
@media screen and (min-width: 1440px) {

}


@media screen and (min-width: 1600px) {
}   

@media screen and (min-width: 1920px) {
}