.cafe77th.mainContent {
    padding: 0;
    overflow: hidden;
}

.cafe77th .main-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cafe77th .nav-links ul {
    display: flex;
    list-style: none;
    margin: 0;
}
.cafe77th .nav-links ul li {
    margin: 0 5px;
    color: #8c3d0f;
}

/* Banner Section*/
.cafe77th .mainbanner {    
    width: 100%;    
    background: #FDE8AB;
    background: radial-gradient(circle, rgba(253, 232, 171, 1) 0%, rgba(217, 177, 102, 1) 100%);    
    position: relative;
    padding: 10px 0;
    height: 45vh
}

.cafe77th .mainbanner-contents {
    display: flex;
    justify-content: center;
    margin-top: -70px;
    padding-top: 130px;
    padding-bottom: 30px;
}

.cafe77th .mainbanner-image-wrapper {
    position: absolute;
    bottom: -50px;
    left: 10px;
}

.cafe77th .mainbanner-image {
    width: 100%;
    max-width: 200px;
}

.cafe77th .mainbanner .mainbanner-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-left: 40%;
}

.cafe77th .mainbanner-text h1 {
    text-align: center;
    color: #8c3d0f;
    font-size: 3.6rem;
    margin: 0;
    line-height: 0.9;
}

.cafe77th .mainbanner-text button {
    margin-top: 20px;
}

/* Best Sellers */
.cafe77th .bestsellers {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 65vh;
    padding: 40px 0 0px;
}

.cafe77th .bestsellers-content {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0;
}

.cafe77th .bestsellers .item {
    background-color: #f2cf66;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 13px 30px;
    border-radius: 50px;
    margin: 15px 0;
    width: 150px;
    position: relative;
}

.cafe77th .bestsellers .item span {
    display: block;
    line-height: 1;
}
.cafe77th .bestsellers .item span.item-price {
    font-size: 1.1rem;
    font-weight: 900;
}

.cafe77th .bestsellers .item .item-image-wrapper {
    position: absolute;
    right: 10px;
    top: -10px;
}

.cafe77th .bestsellers .item .item-image {
    width: 100%;
    max-width: 60px;
}

/* Coffee Cart */
.cafe77th .coffee-cart {
    background-color: #8c3d0f;
    color: #fff;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
    position: relative;
}

.cafe77th .coffee-cart > div {
    margin: 20px 0;
}
.cafe77th .coffee-cart-text > h3 {
    margin-bottom: 0;
}
.cafe77th .coffee-cart-text > span {
    color: #f2cf66;
    margin-bottom: 20px;
    display: block;
}
.cafe77th .coffee-cart button {
    margin: 0 auto;
    display: block;
}
.cafe77th .coffee-cart .beans {
    position: absolute;
    width: 170px;
    left: -85px;
    bottom: -90px;
    transform: rotate(18deg);
}

/* Delivery */
.cafe77th .deliveryapps {
    padding: 10px 30px 0;
    text-align: center;
    position: relative;
    margin: 0 auto;
}

.cafe77th .deliveryapps h1 {
    text-align: center;
}
.cafe77th .deliveryapps p {
    text-align: center;
}

.cafe77th .deliveryapps .find {
    background-color: #d9b166;
    padding: 30px;
    border-radius: 20px;
    margin: 160px auto 0;
}

.cafe77th .deliveryapps .foodpanda-mobile {
    bottom: 130px;
    width: 140px;
    left: 50px;
    z-index: -1;
}
.cafe77th .deliveryapps .grab-mobile {
    bottom: 135px;
    width: 140px;
    right: 50px;
    z-index: -1;
}

.cafe77th .deliveryapps .searchbar-img {
    width: 100%;
    max-width: 220px;
}

.cafe77th .deliveryapps .beans-again {
    position: absolute;
    width: 170px;
    right: -85px;
    bottom: 0px;
    transform: rotate(178deg);
    z-index: 2;
}

/* MAP */
.cafe77th .map-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
    height: 550px;
    margin-bottom: 0;
}

.cafe77th .map-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

/* Footer */
.footer {
    background-color: #8c3d0f;
    color: #fff;
}

.footer .footer-logo {
    filter: brightness(0) invert(1);
    width: 70px;
}

.footer h4 {
    text-align: left;
}
.footer ul {
    list-style: none;
    text-align: left;
    padding: 0;
}
.footer .social-media .row .col {
    width: 33%;
}
.footer .footer-icon {
    font-size: 18px;
}







/* Media Query */
@media screen and (max-width: 320px) {

}


@media screen and (min-width: 411px) {
 
}

@media screen and (min-width: 480px) {
    .cafe77th .nav-links ul li {
        margin: 0 15px;
    }
    .header-logo {
        max-width: 80px;
    }
    .cafe77th .mainbanner-image-wrapper {
        left: 50px;
    }
    .cafe77th .mainbanner .mainbanner-text {
        padding-left: 30%;
    }
    .cafe77th .deliveryapps .find {
        margin: 220px auto 0;
    }
    .cafe77th .deliveryapps .foodpanda-mobile {
        left: 90px;
    }
    .cafe77th .deliveryapps .grab-mobile {
        right: 90px;
    }

}

@media screen and (min-width: 575px) {
    .cafe77th .main-header {
        justify-content: space-between;
        max-width: 550px;
    }
    .cafe77th .mainbanner-image-wrapper {
        left: 80px;
    }
    .cafe77th .mainbanner-image {
        max-width: 220px;
    }
    .cafe77th .mainbanner-text h1 {
        font-size: 4rem;
    }

    .cafe77th .bestsellers .item {
        margin: 15px 10px;
    }
    .cafe77th .deliveryapps .find {
        max-width: 480px;
    }
    .cafe77th .deliveryapps .find > div {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .cafe77th .deliveryapps .foodpanda-mobile {
        left: 110px;
        width: 170px;
        bottom: 60px;
    }
    .cafe77th .deliveryapps .grab-mobile {
        right: 110px;
        width: 170px;
        bottom: 65px;
    }
    .footer .social-media .row .col {
        width: 10px !important;
        flex: none;
        margin: 0 15px 0 0;
    }
    .footer .footer-icon {
        font-size: 24px;
    }

}

/* Make containers a max-width of 620px */
@media screen and (min-width: 768px) { 
    .cafe77th .main-header {
        max-width: 620px;
    }
    .cafe77th .mainbanner-text h1 {
        font-size: 5.5rem;
    }
    .cafe77th .mainbanner-image-wrapper {
        left: 130px;
        bottom: -60px;
    }
    .cafe77th .mainbanner-image {
        max-width: 270px;
    }

    .cafe77th .coffee-cart {
        flex-direction: row;
        padding: 30px 60px;
    }
    .cafe77th .coffee-cart .coffee-cart-text {
        width: 60%;
    }
    .cafe77th .coffee-cart .coffee-cart-image-wrapper {
        width: 40%;
        text-align: center;
    }
    .cafe77th .coffee-cart button {
        margin: 15px 0 0;
    }
    .cafe77th .deliveryapps {
        max-width: 620px;
    }
      
}

@media screen and (min-width: 991px) {
}


@media screen and (min-width: 1200px) {

}


@media screen and (min-width: 1600px) {
}   

@media screen and (min-width: 1920px) {
}