.t20wc2024 .header-landingpageLogo {
    text-decoration: none;
}
.t20wc2024 .header-landingpageLogo span {
    color: #fff;
    font-size: .6rem;
}
.t20wc2024 .header-landingpageLogo img {
    max-height: 20px;
}
.t20wc2024 .nav-mainItem a {
    color: #fff;
}
.t20wc2024 .nav-mainItem a:hover,
.t20wc2024 .nav-mainItem a.active {
    color: #ff127a;
}
.t20wc2024 .nav-mainItem a span {
    display: initial;
}
.t20wc2024 .mainContent {
    padding: 0;
    overflow: hidden;
}


/* Banner Section*/
.t20wc2024 .mainContent  .mainBanner {
    text-align: center;
    padding: 0;
    overflow: hidden;
    margin: 0;
    z-index: 2;
    position: relative;
}
.t20wc2024 .mainContent  .mainBanner .imageBanner {
    background-image: url(../../images/common/mobile-mainbanner-bg.png);
    z-index: -1;
    position: relative;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center top;
}
.t20wc2024 .mainContent  .mainBanner .imageBanner img {
    margin-top: -50px;
    max-width: 900px;
}

.t20wc2024 .mainContent  .mainBanner .imageBanner img.banner-desktop {
    display: none;
}
.t20wc2024 .textBanner {
    margin-top: -120px;
}
.t20wc2024 h1 {
    text-transform: uppercase;
    font-family: var(--secondary-font-family);
    text-shadow: 0px 2px 1px #f21b64;
    text-align: center;
}
.t20wc2024 .textBanner h1 span {
    display: block;
}
.t20wc2024 .buttonBanner {
    width: 90%;
    margin: 0 auto;
}
.t20wc2024 .buttonBanner a {
    background: #0d1a68;
    box-shadow: 0px 2px #000;
    border-radius: 40px;
}
.t20wc2024 .buttonBanner a:hover {
    color: yellow;
    background-color: #0971ba;
}

/* Prize Table */
.t20wc2024 .wc-table {
    background-image: url(../../images/common/table-bg.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center 60%;
    padding: 30px 0 80px;
    position: relative;
    z-index: 1;
}
.t20wc2024 .wc-table .table-bg {
    background-color: #fff;
    border-radius: 20px;
    padding: 2px;
    width: 95%;
    margin: 0px auto 30px;
}
.t20wc2024 table.wc-prize-table {
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

.t20wc2024 table.wc-prize-table tr th:first-child {
    border-top-left-radius: 20px;
}
.t20wc2024 table.wc-prize-table tr th:last-child {
    border-top-right-radius: 20px;
}
.t20wc2024 table.wc-prize-table tr td:first-child {
    border-bottom-left-radius: 20px;
}
.t20wc2024 table.wc-prize-table tr td:last-child {
    border-bottom-right-radius: 20px;
}
.t20wc2024 table.wc-prize-table tr th {
    text-transform: uppercase;
    background-color: #ff127a;
    padding: 10px;
    font-size: .9rem;
    font-family: var(--secondary-font-family);
}
.t20wc2024 table.wc-prize-table tr td {
    font-size: .8rem;
    background-color: #0971ba;
    padding: 10px 20px;
    font-weight: 700;
    text-transform: uppercase;
}
.t20wc2024 table.wc-prize-table tr th:nth-child(2),
.t20wc2024 table.wc-prize-table tr td:nth-child(2) {
    border-left: 2px #fff solid;
    border-right: 2px #fff solid;
}
.t20wc2024 table.wc-prize-table tr td:not(:nth-child(1)) {
    color: #f3e064;
}

.t20wc2024 .wc-table h1 {
    margin: 0;
    font-size: 1.4rem;
}

.t20wc2024 .wc-table .right-players {
    position: absolute;
    top: -225px;
    width: 110px;
    right: -12px;
    z-index: -1;
}
.t20wc2024 .wc-table .left-players {
    position: absolute;
    bottom: -70px;
    width: 110px;
    left: -12px;
    z-index: -1;
}

/* TNC Section */
.t20wc2024 .tncSection {
    background-image: url(../../images/common/tnc-bg.png);
    background-size: 310%;
    background-repeat: no-repeat;
    background-position: center top;
    margin: 0;
    padding: 150px 0 30px;
    margin-top: -130px;
    z-index: 3;
    position: relative;
    color: #0d1a68;
}

.t20wc2024 .tncSection .sectionTitle {
    color: #ff127a;
}
.t20wc2024 .tncSection .sectionTitle:hover {
    color: #0d1a68;;
}

.t20wc2024 .tncSection ol li {
    line-height: 1.3;
}
.t20wc2024 .tncSection ol li a {
    text-decoration: none;
}
.t20wc2024 .tncSection ol li a:hover {
    text-decoration: underline;
}


/* Media Queries */
@media screen and (max-width: 320px) {
    .t20wc2024 .header-landingpageLogo img {
        max-height: 15px;
    }
    .t20wc2024 .textBanner {
        margin-top: -100px;
    }
    .t20wc2024 .tncSection {
        background-size: 340%;
        padding: 150px 0 20px;
    }
}

@media screen and (min-width: 480px) {
    .t20wc2024 .header-landingpageLogo img {
        max-height: 25px;
    }
    .t20wc2024 .mainContent .mainBanner .imageBanner img {
        margin-top: -70px;
    }
    .t20wc2024 .textBanner {
        margin-top: -160px;
    }
    .t20wc2024 .buttonBanner a {
        max-width: 190px;
    }
    .t20wc2024 .wc-table {
        background-position: center 52%;
    }
    .t20wc2024 .wc-table .table-bg {
        width: 90%;
    }
    .t20wc2024 table.wc-prize-table tr th {
        font-size: 1rem;
    }
    .t20wc2024 .tncSection {
        padding: 150px 0 30px;
        margin-top: -150px;
        background-size: 210%;
    }
    .t20wc2024 .wc-table .left-players {
        width: 140px;
    }
    .t20wc2024 .wc-table .right-players {
        width: 130px;
        right: -21px;
    }
}

@media screen and (min-width: 575px) {
    .t20wc2024 .textBanner {
        margin-top: -180px;
    }
    .t20wc2024 .wc-table .table-bg {
        width: 84%;
    }
    .t20wc2024 .tncSection {
        padding: 130px 0 30px;
        margin-top: -140px;
        background-size: 150%;
    }
}

@media screen and (min-width: 768px) {
    .t20wc2024 .mainContent .mainBanner .imageBanner {
        background-image: url(../../images/common/desktop-mainbanner-bg.png);
        padding-bottom: 70px;
    }
    .t20wc2024 .mainContent  .mainBanner .imageBanner img.banner-mobile {
        display: none;
    }
    .t20wc2024 .mainContent  .mainBanner .imageBanner img.banner-desktop {
        display: block;
        max-width: 660px;
        margin: -90px auto 0;
    }
    .t20wc2024 .textBanner {
        margin-top: -90px;
    }
    .t20wc2024 .wc-table {
        background-position: center 35%;
    }
    .t20wc2024 .wc-table .table-bg {
        width: 75%;
        margin: 0px auto 60px;
    }
    .t20wc2024 table.wc-prize-table tr th {
        font-size: 1.1rem;
    }
    .t20wc2024 table.wc-prize-table tr td {
        font-size: 1rem;
    }
    .t20wc2024 table.wc-prize-table tr td:first-child {
        border-bottom-left-radius: 20px;
        width: 44%;
    }
    .t20wc2024 .wc-table h1 {
        font-size: 1.6rem;
    }
    .t20wc2024 .wc-table .right-players {
        right: 0;
        width: 170px;
        top: -170px;
    }
    .t20wc2024 .wc-table .left-players {
        width: 170px;
        left: 0;
    }
    .t20wc2024 .tncSection {
        margin-top: -120px;
        background-size: 100%;
    }
}

@media screen and (min-width: 991px) {
    .t20wc2024 .mainContent .mainBanner .imageBanner {
        padding-bottom: 250px;
        background-position: center 160%;
    }
    .t20wc2024 .textBanner {
        margin-top: -280px;
    }
    .t20wc2024 .buttonBanner {
        margin: 30px auto;
    }
    .t20wc2024 .wc-table .table-bg {
        max-width: 575px;
    }
    .t20wc2024 .tncSection {
        padding: 150px 0 30px;
    }
    .t20wc2024 .tncSection .sectionTitle {
        font-size: 1.9rem;
    }
}

@media screen and (min-width: 1200px) {
    .t20wc2024 header {
        z-index: 3;
    }
    .t20wc2024 .header-landingpageLogo img {
        max-height: 30px;
    }

    .t20wc2024 .mainContent .mainBanner .imageBanner {
        background-position: center 120%;
    }
    .t20wc2024 .mainContent .mainBanner .imageBanner img.banner-desktop {
        max-width: 800px;
    }
    .t20wc2024 .wc-table {
        padding: 40px 0 130px;
    }
    .t20wc2024 .wc-table h1 {
        font-size: 1.9rem;
    }
    .t20wc2024 .wc-table .right-players {
        right: 0;
        width: 230px;
        top: -310px;
    }
    .t20wc2024 .wc-table .left-players {
        width: 250px;
        left: 0;
        bottom: -150px;
    }
    .t20wc2024 .tncSection {
        padding: 180px 0 30px;
        margin-top: -200px;
    }
}

@media screen and (min-width: 1366px) {
    .t20wc2024 .mainContent .mainBanner .imageBanner {
        background-position: center 60%;
    }
    .t20wc2024 .tncSection {
        padding: 210px 0 50px;
    }
}

@media screen and (min-width: 1440px) {
    .t20wc2024 .wc-table {
        padding: 40px 0 220px;
    }
    .t20wc2024 .tncSection {
        margin-top: -280px;
    }
    .t20wc2024 .wc-table .left-players {
        bottom: -100px;
    }
}

@media screen and (min-width: 1600px) {   
    .t20wc2024 .textBanner {
        margin-top: -300px;
    }
    .t20wc2024 h1 {
        font-size: 3rem;
    }
    .t20wc2024 .mainContent .mainBanner .imageBanner img.banner-desktop {
        max-width: 900px;
        margin: -110px auto 0;
    }
}   

@media screen and (min-width: 1920px) {   
    .t20wc2024 .mainContent .mainBanner .imageBanner img.banner-desktop {
        max-width: 980px;
        margin: -120px auto 0;
    }
    .t20wc2024 .tncSection {
        padding: 250px 0 50px;
    }
    .t20wc2024 .wc-table {
        padding: 60px 0 250px;
    }
    .t20wc2024 .wc-table h1 {
        font-size: 2.3rem;
    }
    .t20wc2024 .wc-table .right-players {
        right: 0;
        width: 320px;
        top: -460px;
    }
    .t20wc2024 .wc-table .left-players {
        width: 320px;
        left: 0;
        bottom: -230px;
    }
    .t20wc2024 table.wc-prize-table tr th {
        font-size: 1.4rem;
    }
    .t20wc2024 table.wc-prize-table tr td {
        font-size: 1.2rem;
    }
    .t20wc2024 .wc-table .table-bg {
        max-width: 675px;
    }
}